/**
 * Body
 */

body {
  margin: 0;
  width: 100%;
  background-size: cover;

  --bg-color: #FFF;
  --black-color: #000;
  --panel-color: #EEE;

  --main-color: #4169E1;

  --dark-color: #333;
  --light-color: #CCC;

  --success-bg-color: #DFF2BF;
  --success-fg-color: #4F8A10;

  --error-bg-color: #FFD2D2;
  --error-fg-color: #D8000C;

  --serif-font: 'Merriweather';
  --sans-font: 'Open Sans Condensed';

  background-color: var(--bg-color);
}

/**
 * Generic
 */

 a, p, input, li {
  font-family: var(--serif-font), serif;
  color: var(--dark-color);
  padding: 1em 0em 0em 1em;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 1.4em;
  font-family: var(--serif-font), sans-serif;
  margin: 1.2em 0em 0.2em 0em;
  margin-inline-start: 1em;
  padding: 0em;
}

h2, h3, h4, h5, h6 {
  font-family: var(--serif-font), sans-serif;
  font-size: 0.9em;
  margin: 0em 0em 1.5em 1.5em;
  padding: 0em;
  color: var(--dark-color);
  margin-inline-start: 3em;
}

body {
  display: grid;
  grid-template-columns: 0.90fr auto;
}

input {
  display: grid;
  margin-bottom: 0.9em;
  padding: 1em;
  margin-inline-start: 1.5em;
  background-color: var(--panel-color);
  width: 80%;
  font-size: 1.05em;
  grid-column-start: 1;
  grid-column-end: 4;
}

select {
  padding: 1em;
  margin-bottom: 1em;
  margin-inline-start: 1.65em;
  background-color: var(--panel-color);
  grid-column-start: 1;
  grid-column-end: 4;
  font-size: 0.90em;
  width: 89%;
}

/* buttons to submit are blue rectangle */
input[type="submit"]{
  background: var(--main-color);
  color: var(--panel-color);
  font-family: sans-serif;
  font-size: 1em;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  margin-top: 2em;
  grid-column-start: 2;
  grid-column-end: 3;
  width: 110%;
} 

form > p {
  grid-column-start: 1;
  grid-column-end: 4;
  margin-left: 5em;
}

/*
  Footer
*/
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  text-align: center;
  font-size: 15px;
  margin-top: auto; 
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  border-top: 0.05em;
  border-top-style: solid;
  border-color: var(--light-color);
}

/*
  Body Header
*/

body > header {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: var(--light-color);
} 

/* logo   */
body > header img {
  width: 10%;
  margin-right: 65%;
}

body > header  i {
  font-size: 1.5em;
  padding: 1%;
  margin-right: 1%;
}

/*person image */
body > header :nth-child(3) {
  width: 3%;
}


textarea {
  font-size: 1.2em;
  margin: 1em 0;
  display: grid;
  margin-inline-start: 1em;
  width: 89%;
  grid-column-start: 1;
  grid-column-end: 3;
}

/* login & signup */
#someImage > img, #houseImage > img {
  margin: 6.5em 1em 5em 4em;
  border-style: solid;
  max-width: 570px;
  overflow: scroll;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: span 2;
}

#signup > form, #login > form {
  display: grid;
  grid-template-columns: auto 20% 50%;
}


#signup a, #login a { 
  color: var(--main-color);
}

#signup, #login, #listing, #editProfile {
  grid-column-start: 1;
  grid-column-end: 2;
}

/*
 *About Us
*/
#aboutUs{
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: var(--light-color);
  font-family: 'Open Sans Condensed', sans-serif;
}

#aboutUs h1{
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 1em;
  font-size: 100px;
  color: var(--bg-color);
}

#descriptionAbout {
  margin: 0;
  text-align: center;
  position: relative;
  float: left;
  left: 10%;
  align-self: auto;
  width: 75%;
  grid-column-start: 1;
  grid-column-end: 3;
}

#descriptionAbout > h3 {
  margin-bottom: 0;
  font-size: 20px;
  padding-top: 3.5em;
}

/**
 * Listing
 */
 
 #listing > form {
  display: grid;
  grid-template-columns: 50% 50%;
}

/* box is half the size of the other */
#listing select[name="Nr of bedrooms"] {
  grid-column-start: 1;
  grid-column-end: 2;
  width: 80%;
} 

#listing select[name="Nr of bathrooms"]{
  grid-column-start: 2;
  grid-column-end: 3;
  width: 80%;
} 

/**
 * editProfile
 */
 
#editProfile > form {
  display: grid;
  grid-template-columns: 80% 20%;
} 


#editProfile input {
  grid-column-start: 1;
  grid-column-end: 2;
  width: 90%;
  height: 20%;
  margin: 0em 0em 2em 1em;
} 

#editProfile input[type="submit"] {
  grid-column-start: 2;
  grid-column-end: 3;
  width: 60%;
  height: 50%;
  margin: 0.6em 0em 0em 0em;

} 

#editProfile select {
  grid-column-start: 1;
  grid-column-end: 2;
  width: 97%;
  padding-left: 2em;
  margin: 0em 0em 3.2em 1em;
}

#personImg input[type="submit"] {
  width: 60%;
  margin-left: 6em;
} 

#personImg {
  max-width: 160em;
  padding: 20% 0% 10% 0%;
}

#personImg > img {
  max-width: 200em;
  padding-left: 25%;
}


/**
 * Messages
 */

 body > #messages div {
  max-width: 90%;
  margin: 2em 1em 1em 1em;
  padding: 1em;
  text-align: center;
}

body > #messages .error {
  color: var(--error-fg-color);
  background-color: var(--error-bg-color);
}

body > #messages .success {
  color: var(--success-fg-color);
  background-color: var(--success-bg-color);
}


/*
*Article
*/

body > #lists { 
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-template-columns: 33.4% 33.3% 33.3%;
}

#lists article{
  border-style: solid;
  justify-content: space-around; 
}

/*
* Contact us
*/

#contacts h1{
  margin: 0;
  justify-content: space-evenly;
  top: 250px;
  color: white;
  position: absolute;
  left: 200px;
  font-size: 200px;
  text-shadow:  1px 1px 0 #333,
  -1px 1px 0 #333,
  1px -1px 0 #333,
  -1px -1px 0 #333,
  0px 1px 0 #333,
  0px -1px 0 #333,
  -1px 0px 0 #333,
  1px 0px 0 #333,
  2px 2px 0 #333,
  -2px 2px 0 #333,
  2px -2px 0 #333,
  -2px -2px 0 #333,
  0px 2px 0 #333,
  0px -2px 0 #333,
  -2px 0px 0 #333,
  2px 0px 0 #333,
  1px 2px 0 #333,
  -1px 2px 0 #333,
  1px -2px 0 #333,
  -1px -2px 0 #333,
  2px 1px 0 #333,
  -2px 1px 0 #333,
  2px -1px 0 #333,
  -2px -1px 0 #333;
}

#contacts img{
  position: absolute;
  width: 100%;
}

#rectangles{
  display: flex;
  width: 100%;
  position: absolute;
  justify-content: space-evenly;
  top: 648px;
}

#rectangles div{
  background: white;
  padding: 20px;
  width: 400px;
  height: 300px;
  border-radius: 25px;
  text-align: center;
}
#rectangles div i{
  border-style: solid;
  border-radius: 25px;
  padding: 15px;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 100px;
}
#rectangles div p{
  font-size: 45px;
  padding: 0%;
  padding-top: 25px;
  margin: 0%;
}

#subText{
  margin: 0;
  font-size: 30px;
  padding-top: 30px;
  color: blue;
}


/**
 * Dropbox user
 */

.dropbtn {
  background-color: var(--light-color);
  color: var(--black-color);
  font-size: 2em;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: var(--panel-color);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--light-color);
  width: 350%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: var(--black-color);
  padding-top: 3%;
  text-decoration: none;
  display: grid;
}

.dropdown a:hover {background-color: var(--dark-color);}

.show {display: grid;}
