/**
 * Body
 */

body {
  margin: 0;
  width: 100%;
  background-size: cover;

  --bg-color: #FFF;
  --black-color: #000;
  --panel-color: #EEE;

  --main-color: #4169E1;

  --dark-color: #333;
  --light-color: #CCC;

  --success-bg-color: #DFF2BF;
  --success-fg-color: #4F8A10;

  --error-bg-color: #FFD2D2;
  --error-fg-color: #D8000C;

  --serif-font: 'Merriweather';
  --sans-font: 'Open Sans Condensed';

  background-color: var(--bg-color);
}

/**
 * Generic
 */

 a, p, input, li {
  font-family: var(--serif-font), serif;
  color: var(--dark-color);
  padding: 1em 0em 0em 1em;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 1.4em;
  font-family: var(--serif-font), sans-serif;
  margin: 1.2em 0em 0.2em 0em;
  margin-inline-start: 1em;
  padding: 0em;
}

h2, h3, h4, h5, h6 {
  font-family: var(--serif-font), sans-serif;
  font-size: 0.9em;
  margin: 0em 0em 1.5em 1.5em;
  padding: 0em;
  color: var(--dark-color);
  margin-inline-start: 3em;
}

body {
  display: grid;
  grid-template-columns: 0.90fr auto;
}

input {
  display: grid;
  margin-bottom: 0.9em;
  padding: 1em;
  margin-inline-start: 1.5em;
  background-color: var(--panel-color);
  width: 80%;
  font-size: 1.05em;
  grid-column-start: 1;
  grid-column-end: 4;
}

form {
  display: grid;
  grid-template-columns: auto 20% 50%;
}

select {
  padding: 1em;
  margin-bottom: 1em;
  margin-inline-start: 1.4em;
  background-color: var(--panel-color);
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 0.80em;
  width: 90%;
}

/* buttons to submit are blue rectangle */
input[type="submit"]{
  background: var(--main-color);
  color: var(--panel-color);
  font-family: sans-serif;
  font-size: 1em;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  margin-top: 2em;
  grid-column-start: 2;
  grid-column-end: 3;
  width: 110%;
} 

form > p {
  grid-column-start: 1;
  grid-column-end: 4;
  margin-left: 5em;
}

/*
  Footer
*/
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  text-align: center;
  font-size: 15px;
  margin-top: auto; 
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  border-top: 0.05em;
  border-top-style: solid;
  border-color: var(--light-color);
}

/*
  Body Header
*/

body > header {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: var(--bg-color);
  border-bottom: solid;
  border-bottom-color: #f3f3f3;
  border-bottom-width: 2px;
  
} 

/* logo   */
body > header img {
  width: 9em;
  margin-top: 1%;
  margin-right: 70%;
}

body > header  i {
  font-size: 1.5em;
  padding: 1%;
  padding-right: 0%;
  padding-top: 0em;
  margin-left: 15%;
}

textarea {
  font-size: 1.2em;
  margin: 1em 0;
  display: grid;
  margin-inline-start: 1em;
  width: 89%;
  grid-column-start: 1;
  grid-column-end: 3;
}
/* login & signup */

#someImage > img, #houseImage > img {
  margin: 0em 0em 0em 0em;
  border-style: solid;
  border-width: 0.5em;
  max-width: 1200px;
  height: 710px;
  margin-left: 10%;
  overflow: scroll;
}

#login{


  margin-left: 60px;
  font-size: 17px;


}

#signup a, #login a { 
  color: var(--main-color);
}

#signup, #login, #listing, #editProfile {
  padding-top: 10%;
  padding-left: 10%;
  grid-column-start: 1;
  grid-column-end: 2;

}


#login > header {

  margin-top: 15%;
  font-size: 120%;
  margin-bottom: 7%;

}

#login > header > h1,h2,h3 {

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#login > form {

  width: 85%;

}


#login > form > input[type="text"], input[type="password"]{

  padding: 1.6%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-color: #CCC;
  border-style: solid;
  border-radius: 7px;
  background: var(--bg-color);


}


#login > form > input[type="submit"]{

  padding: 5%;
  grid-column-start: 1;
  grid-column-end: 2;
  height: 40%;
  border-radius: 7px;
  
}


#login > form > p{

  padding: 6%;
  margin-top: 6%;
  margin-left: 20%;
  grid-column-start: 2;
  grid-column-end: 4;
  padding-left: 0%;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}




/*cor a branco porque queria que vissem se acham melhor sem isto*/
#f1 {

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top-color: #FFF;
  color: white;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;

}





/*
 *About Us
*/
#aboutUs{
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: var(--light-color);
  font-family: 'Open Sans Condensed', sans-serif;
}

#aboutUs h1{
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 1em;
  font-size: 100px;
  color: var(--bg-color);
}

#descriptionAbout {
  margin: 0;
  text-align: center;
  position: relative;
  float: left;
  left: 10%;
  align-self: auto;
  width: 75%;
  grid-column-start: 1;
  grid-column-end: 3;
}

#descriptionAbout > h3 {
  margin-bottom: 0;
  font-size: 20px;
  padding-top: 3.5em;
}

/**
 * Listing
 */
 
 #listing > form {
  display: grid;
  grid-template-columns: 50% 50%;
}

/* box is half the size of the other */
#listing select[name="Nr of bedrooms"] {
  grid-column-start: 1;
  grid-column-end: 2;
  width: 80%;
} 

#listing select[name="Nr of bathrooms"]{
  grid-column-start: 2;
  grid-column-end: 3;
  width: 80%;
} 

/**
 * editProfile
 */

 #editProfile select {
  width: 88%;
}

#personImg {
  max-width: 160em;
  padding: 2% 0% 0% 30% ;
}

/**
 * Messages
 */

 body > #messages div {
  max-width: 90%;
  margin: 2em 1em 1em 1em;
  padding: 1em;
  text-align: center;
}

body > #messages .error {
  color: var(--error-fg-color);
  background-color: var(--error-bg-color);
}

body > #messages .success {
  color: var(--success-fg-color);
  background-color: var(--success-bg-color);
}


/*
*Article
*/

body > #lists { 
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-template-columns: 33.4% 33.3% 33.3%;
}

#lists article{
  border-style: solid;
  justify-content: space-around; 
  margin: 1em;
  overflow: hidden;
  border-radius: 25px;
  padding: 1em;
}

#Info {
  font-size: 1.4em;
}

#options > nav ul {
  display: grid;
  grid-template-columns: 20% 20% 20% 10% 10% 10% 10%;
  list-style-type: none;
}

#options > nav li {
  margin-inline-start: 350%;
}

#house_details > h3{

  font-size: 2.2em;
  margin: 2em;

}

#house_details > #address{

  font-size: 1.2em;
  margin-left: 5em;
  margin-top: 0em;
  color: grey;

}


/**
 * Lists
 */
/*
#lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;	
}

#lists article.list {
  border: 1px solid black;

  margin: 1em;
  background-color: var(--panel-color);

  display: grid;
  grid-template-rows: auto 1fr auto;
}

#lists article.list header{
  background-color: var(--main-color);
  padding: 1em;
}

#lists article.list header h2{
  color: var(--panel-color);
  margin: 0;
}

#lists article.list ol{
  padding: 1em;
}

#lists article.list ol li{
  display: block;

  margin: 0;
  padding: 1em 1em 1em 0;
}

#lists article.list ol li a{
  float: left;
  padding: 0 .5em 0 0;
  visibility: hidden;
}

#lists article.list ol li:hover a{
  visibility: visible;
}

#lists article.list ol li label{
  display: block;
  max-width: 20em;
}

#lists article.list ol li label input{
  float: right;
}

#lists article.list form {
  padding: 1em;
}

#lists article.list form input {
  width: 100%;
  padding: 1em;
}

#lists article.new-list {
  border: 1px solid black;

  margin: 1em;
  background-color: var(--panel-color);
}

#lists article.new-list form {
  background-color: var(--main-color);
}

#lists article.new-list form input {
  padding: .5em;

  color: var(--panel-color);
  background-color: var(--main-color);

  font-family: var(--sans-font);
  font-size: 1.5em;
  font-weight: bold;

  border-bottom: none;
}*/
