/**
 * Body
 */

body {
  margin: 0;
  width: 100%;
  background-size: cover;

  --bg-color: #FFF;
  --black-color: #000;
  --panel-color: #EEE;
  --light-white: #f3f3f3;
  --light-grey: #E4E4E4;

  --main-color: #4169E1;
  --ligth-blue: lightblue;

  --dark-color: #333;
  --medium-color: #babababa;
  --light-color: #CCC;

  --success-bg-color: #DFF2BF;
  --success-fg-color: #4F8A10;

  --error-bg-color: #FFD2D2;
  --error-fg-color: #D8000C;

  --serif-font: 'Merriweather';
  --sans-font: 'Open Sans Condensed';
  --general-font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  font-family: var(--sans-font);
  background-color: var(--bg-color);
  
}

/**
 * Generic
 */

a, p, input, li {
  font-family: var(--serif-font), serif;
  color: var(--dark-color);
  padding: 1em 0em 0em 1em;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 1.2em;
  font-family: var(--serif-font), sans-serif;
  margin: 1.2em 0em 0.2em 0em;
  padding: 0em;
}

h2, h3, h4, h5, h6 {
  font-family: var(--serif-font), sans-serif;
  font-size: 0.9em;
  margin: 0em 0em 1.5em 1.5em;
  padding-left: 2em;
  color: var(--dark-color);
}

body {
  display: grid;
  grid-template-columns: 34% auto;
}

select {
  width: 134%;
  margin-inline-start: 1.9em;
}

textarea {
  width: 65%;
  margin-inline-start: 1.8em;
}


input[type="text"], input[type="password"], input[type="email"], input[type=number] {
  width: 120%;
}

input[type="text"], input[type="password"], input[type="email"], input[type=number], input[type="date"] textarea, select {
  padding: 0.6em;
  font-family: var(--serif-font);
  padding: 1em;
  margin-bottom: 1em;
  margin-inline-start: 1.4em;
  background-color: var(--panel-color);
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 0.80em;
  border-radius: 7px;
}

/* buttons to submit are blue rectangle */
input[type="submit"]{
  background: var(--main-color);
  color: var(--panel-color);
  font-family: sans-serif;
  font-size: 1em;
  border: none;
  border-radius: 7px;
  text-transform: uppercase;
  grid-column-start: 2;
  grid-column-end: 3;
  width: 100%;
  padding: 1em;
} 

/* forms */
form {
  display: grid;
  grid-template-columns: auto 30% 50%;
}

form > p {
  grid-column-start: 1;
  grid-column-end: 4;
  margin-left: 5em;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/**
 *Body Header
 */

body > header {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: var(--bg-color);
  border-bottom: solid;
  border-bottom-color: var(--light-white);
  border-bottom-width: 2px;
  
} 

/* logo   */
body > header img {
  width: 9em;
  margin-top: 1%;
  margin-right: 63%;
}

body > header  i {
  font-size: 1.5em;
  padding: 1%;
  padding-right: 0%;
  padding-top: 0em;
  margin-left: 0%;
}

textarea {
  font-size: 1.2em;
  margin: 1em 0;
  display: grid;
  margin-inline-start: 1em;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
}

/* login & signup */
.someImage > img {
  margin-top: 0em;
  border-style: solid;
  border-width: 0.5em;
  max-width: 98%;
  overflow: hidden;
  grid-column-start: 2;
}


#login, #signup {

  margin-left: 5%;
  font-size: 17px;

}

#signup a, #login a { 
  color: var(--main-color);
}

#signup, #login, #listingForm {
  padding-top: 10%;
  padding-left: 10%;
  grid-column-start: 1;
  grid-column-end: 2;

}


#login > header {

  margin-top: 15%;
  font-size: 120%;
  margin-bottom: 7%;

}

#login > p, #signup > p{
  color: var(--dark-color);
  padding: 6%;
  margin-top: 6%;
  margin-left: 2%;
  grid-column-start: 1;
  grid-column-end: 4;
  padding-left: 0%;
  text-align: center;
}

/**
 * footer
 */
#f1 {

  left: 0;
  bottom: 0;
  margin-top: 0%;
  margin-bottom: 1%;
  width: 100%;
  border-top-color: var(--medium-color);
  background-color: var(--bg-color);
  color: var(--medium-color);
  text-align: center;
  font-family: var(--general-font-family);
  font-weight: bold;
  box-shadow: 0 -8px 10px var(--medium-color);
  padding-top: 0.5em;

}

#f1 > div {

  margin-bottom: 0.6em;
}

#f1 > a{
  font-family: var(--general-font-family);
  color:var(--dark-color);
}


#f1 > button{

  background-color: var(--bg-color);
  border: hidden;
  box-shadow: 0 -2px 3px var(--black-color);
  font-weight: bold;
  color: var(--medium-color);

}

footer {
  text-align: center;
  font-size: 15px; 
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  background-color: var(--bg-color);
} 


/*
 *About Us, security, terms and privacy
*/
#aboutUs, #security, #privacy, #terms, #contacts {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: var(--light-color);
  font-family: var(--font-family);
}

#aboutUs h1,  #security h1, #privacy h1, #terms h1 {
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 3em;
  color: var(--bg-color);
}

#descriptionAbout, #descriptionPrivacy, #descriptionSecurity, #descriptionTerms  {
  margin: 0;
  text-align: center;
  position: relative;
  left: 10%;
  align-self: auto;
  width: 75%;
  grid-column-start: 1;
  grid-column-end: 3;
}

#descriptionAbout > h2, #descriptionPrivacy > h2, #descriptionSecurity > h2, #descriptionTerms > h2 {
  margin-bottom: 0.5em;
  font-size: 1.5em;
  padding-top: 3.5em;
  text-align: center;
}

 /**
 * Dropbox user with all the options available
 */
 
.dropbtn {
  background-color: var(--light-color);
  color: var(--black-color);
  font-size: 2em;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: var(--black-color);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--black-color);
  width: 250%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px var(--light-color);
  z-index: 1;
}

.dropdown-content a {
  color: var(--bg-color);
  padding: 3%;
  text-decoration: none; 
  display: grid;
}

.dropdown a:hover {
  background-color: var(--dark-color);
}

.show {display: grid;}

/**
 * Listing a new house
 */

#listing { 
  grid-column-start: 1;
  grid-column-end: 3;
  margin-left: 3%;
}

#listingForm {
  display: grid;
  grid-template-columns: 45% 55%;
  padding-bottom: 10%;
}

/* box is half the size of the other */
#listing select[name="Nr of bedrooms"] {
  grid-column-start: 1;
  grid-column-end: 2;
  width: 80%;
} 

#listing select[name="Nr of bathrooms"]{
  grid-column-start: 2;
  grid-column-end: 3;
  width: 74%;
} 

#listingImage {
  padding-inline-start: 5%;
}

/**
 * editProfile
 */
#editProfile {
  padding-top: 5%;
}

#editProfile form {
  display: grid;
  grid-template-columns: 70% 15% auto;
  padding-top: 2%;
}

#editProfile select {
  width: 73%;
  grid-column-start: 1;
  grid-column-end: 2;
}

#editProfile textarea {
  font-size: small;
}
#editProfile input, #editProfile textarea {
  width: 70%;
  grid-column-start: 1;
  grid-column-end: 2;

}

#editProfile input[type="submit"] {
  width: 80%;
  height: 80%;
  grid-column-start: 2;
  grid-column-end: 3;
} 

#personImg {
  grid-column-end: 2;
  padding: 2% 0% 0% 10% ;
}

#personImg input[type="submit"] {
  grid-column-start: 1;
  width: 40%;
  margin: 5%;
}

/**
 * Messages
 */

 body > #messages div {
  max-width: 90%;
  padding: 1em;
  text-align: center;
}

body > #messages {
  max-width: 90%;
  margin: 0em 5%;
  padding: 0em;
  text-align: center;
  width: 90%;
  grid-column-start: 1;
  grid-column-end: 3;
}

body > #messages .error {
  color: var(--error-fg-color);
  background-color: var(--error-bg-color);
}

body > #messages .success {
  color: var(--success-fg-color);
  background-color: var(--success-bg-color);
}

/**
 *
 */

.list > a > img{
  display: block;
  max-width: 92%;
  box-shadow: 0 4px 6px var(--medium-color);
  margin-left: auto;
  margin-right: auto;

 }

 .list > #houseOptions {
  margin-left: auto;
  margin-right: auto;

 }

 #no_reservations{

  margin-top: 20%;
  text-align: center;
  margin-left:40%;
  margin-bottom: 15%;
  grid-column-start: 2;
  font-family: var(--general-font-family);

  
 }


 .list > #houseOptions > a:hover {
   
  background-color: var(--dark-color);
  color: var(--light-grey);


 }

 
 .list > #houseOptions > a:active {
  box-shadow: 0 5px #666;
  transform: translateY(10%);
 }


 .list > #houseOptions > a {

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5em;
  color: var(--dark-color);
  background-color: var(--light-grey);
  font-weight: bold;
  border-width: 0.05em;  
  border: transparent;
  font-family: var(--general-font-family);
  border-radius: 5%;
  box-shadow: 0 4px 6px var(--medium-color);

 }


 .list, #reservation {
  border-color:var(--bg-color);
  border-width: 0.05em;  
  font-family: var(--general-font-family);
  border-radius: 5px;
  box-shadow: 0 4px 6px var(--black-color);
  background-color: var(--light-white);
  padding: 0em;
  align-content: center;
  box-shadow: 0 4px 6px var(--medium-color);
  background-color: var(--light-white);
  padding-left: 20%;
  padding-right: 20%;

 }

 .Info > h1, h2{

  margin-left: 0em;
  margin-bottom: 0.5em;
  font-family: var(--general-font-family);
  text-align: left;

 }
 
/*
*Article
*/

.lists { 
  display: flex;
  flex-wrap: wrap;
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 2em 5em;

}

.lists article{
  border-style: solid;
  justify-content: space-evenly; 
  margin: 1em;
  overflow: hidden;
  border-radius: 25px;
  padding: 1em;
}

.list .Info * { 
  width: 10em;
}

.Info {
  font-size: 1.4em;
}

#houseOptions a {
  border: solid;
  background-color: var(--light-color);
  padding: 0.2em;
  margin-left: 10%;
  justify-content: space-evenly;
}

#houseOptions {
  padding-top: 10%;
}

#options > nav ul {
  display: grid;
  grid-template-columns: 20% 20% 20% 10% 10% 10% 10%;
  list-style-type: none;
}

#options > nav li {
  margin-inline-start: 350%;
}

#house_details > h3{

  font-size: 2em;
  margin: 2em;

}

#house_details > #address{

  font-size: 1.2em;
  margin-left: 5em;
  margin-top: 0em;
  color: var(--light-color);

}


/*
* Search Bar
*/

#myInput, #datepicker {
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 40%; /* 70% Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
  grid-column-start: 2;
}

#myUL {
  /* Remove default list styling */
  border: thick;
  border-color: var(--ligth-blue);
  width: 100px;
  position:absolute;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li {
  border: 1px solid var(--light-color); /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: var(--light-white); /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: var(--black-color); /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
  width: 350%;
  overflow: hidden;
}

#myUL li:hover:not(.header) {
  background-color: var(--panel-color); /* Add a hover effect to all links, except for headers */
}

#searchInputs {
  grid-template-columns: 50% 50%;
}

/**
 * map
 */

/* used for map */
#mapSection {
  width: 60vw;
  height: 80%;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-left: 10vw;
  padding: 0;
  overflow: hidden;
}

#description {
  font-family: var(--font-family);
  font-size: 15px;
  font-weight: 300;
  grid-column-start: 2;
  grid-column-end: 3;
  width: 200%
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px var(--black-color);
  background-color: var(--bg-color);
  font-family: var(--font-family);
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color:var(--bg-color);
  font-family: var(--font-family);
  font-size: 15px;
  font-weight: 300;
  margin-left: 10px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: var(--main-color);
}

#title {
  color: var(--bg-color);
  background-color: var(--main-color);
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#target {
  width: 345px;
}

/**
 * Profile
 */

#profile, #ReservationInfo {
  grid-column-start: 1;
  grid-column-end: 3;
  padding-left: 10%;
  padding-right: 10%;
  font-family: var(--font-family);
  display: grid;

}

#profile > img {
  width: 20em;
  grid-column-start: 1;
  grid-column-end: 2;

}


#userInfo {

  max-width: 20em;
  border: solid;
  border-color: var(--light-color);
  border-radius: 1em;
  border-width: 0.05em;  
  grid-column-start: 1;
  grid-column-end: 2;

 }

#userWall{

  grid-column-start: 2;
  grid-column-end: 3;
  
  grid-row-start: 2;
  grid-row-end: 3;

}

#house_ad {

  margin-left: 5em;
  grid-column-start: 1;

}

#house_ad > header > h1{

  padding-left: 0em;
  margin-bottom: 1em;

}

#house_ad > header > h2{

  padding-left: 2em;
  margin-bottom: 0.5em;

}

#house_ad > header {

  margin-bottom: 2em;

}

#house_ad > form { 
  display: inline-block;
  margin-left: 2em;
}

#house_ad > form > a { 
  font-family: var(--general-font-family);
}


#house_ad > form > button{

  background: var(--main-color);
  color: var(--panel-color);
  font-family: sans-serif;
  font-size: 1em;
  border: none;
  border-radius: 7px;
  text-transform: uppercase;
  margin-top: 2em;
  max-width: 7em;
  height: 3em;
  width: 150%;
  margin-left: 3em;
}

#house_ad > form > a >input{

  background: var(--bg-color);
  color: var(--black-color);
  font-family: sans-serif;
  font-size: 1em;
  border: solid;
  border-radius: 7px;
  border-width: 1px;
  text-transform: uppercase;
  max-width: 7em;
  height: 0.7em;
  width: 150%;
  margin-left: 3em;
}


#house_ad > form > button{

  background: var(--main-color);
  color: var(--panel-color);
  font-family: sans-serif;
  font-size: 1em;
  border: none;
  border-radius: 7px;
  text-transform: uppercase;
  margin-top: 2em;
  max-width: 7em;
  height: 3em;
  width: 150%;
  margin-left: 3em;
}

#house_ad > form > a >input{
  background: var(--bg-color);
  color: var(--black-color);
  font-family: sans-serif;
  font-size: 1em;
  border: solid;
  border-radius: 7px;
  border-width: 1px;
  text-transform: uppercase;
  max-width: 7em;
  height: 0.7em;
  width: 150%;
  margin-left: 3em;
}

/*
* Contact us
*/

#contacts h1{
  margin: 0;
  justify-content: space-evenly;
  top: 250px;
  color: var(--bg-color);
  position: absolute;
  left: 20%;
  font-size: 6.5em;
  text-shadow:  1px 1px 0 var(--dark-color),
  -1px 1px 0 var(--dark-color),
  1px -1px 0 var(--dark-color),
  -1px -1px 0 var(--dark-color),
  0px 1px 0 var(--dark-color),
  0px -1px 0 var(--dark-color),
  -1px 0px 0 var(--dark-color),
  1px 0px 0 var(--dark-color),
  2px 2px 0 var(--dark-color),
  -2px 2px 0 var(--dark-color),
  2px -2px 0 var(--dark-color),
  -2px -2px 0 var(--dark-color),
  0px 2px 0 var(--dark-color),
  0px -2px 0 var(--dark-color),
  -2px 0px 0 var(--dark-color),
  2px 0px 0 var(--dark-color),
  1px 2px 0 var(--dark-color),
  -1px 2px 0 var(--dark-color),
  1px -2px 0 var(--dark-color),
  -1px -2px 0 var(--dark-color),
  2px 1px 0 var(--dark-color),
  -2px 1px 0 var(--dark-color),
  2px -1px 0 var(--dark-color),
  -2px -1px 0 var(--dark-color);
}

#contacts img {
  background-size: 100%;
  position: relative;
  width: 100%;
}

#rectangles {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: space-evenly;
  top: 80%;
  flex-wrap: wrap;
}

#rectangles div {
  background: var(--ligth-blue);
  padding: 2em;
  width: 40%;
  border-radius: 25px;
  text-align: center;
}

#reservation { 
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 40% 60%;
  margin: 5em;
  padding: 0em;
}

#reservation .Info {
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 1em;
}

#reservation .someImage {
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 2em;
  width: max-content;
}

/*  Responsive design */
@media(max-width:840px) {
  .someImage > img {
    display: none;
  }
  body {
    display: grid;
    grid-template-columns: 100% 0%;
    margin: 0em;
    padding: 0em;
  }
  /* forms */
  form {
    display: grid;
    grid-template-columns: auto 45% 30%;
    padding: 0.5em 0em;
    margin: 0em;
  }
  /* logo   */
  body > header img {
    width: 5.5em;
    margin-top: 1%;
    margin-right: 22%;
  }
  #signup, #login, #listingForm {
    margin: 0.1em;
    padding: 0em;
    font-size: 1.5em;
  }

  .lists {
    padding: 0em;
    margin: 0em;
    
  }
  .list { 
    padding: 0em;
  }
  #myInput, #datepicker {
    width: 70%;
  }

  #contacts h1{
    left: 0.4em;
    font-size: 3em;
    padding: 0em;
  } 

  #rectangles {
    position: relative;
    top: 3%;
    padding-top: 1em;
    flex-wrap: wrap;
  }
  
  #rectangles div {
    width: 90%;
  }
  
  .contactRectangle {
    padding: 0em;
    margin: 0em;
    display: flex;
    flex-wrap: wrap;
  }

  #descriptionAbout, #descriptionPrivacy, #descriptionSecurity, #descriptionTerms  {
    padding: 0em;
  }

  #descriptionAbout > h2, #descriptionPrivacy > h2, #descriptionSecurity > h2, #descriptionTerms > h2 {
    font-size: 0.7em;
  }

  #descriptionAbout > p, #descriptionPrivacy > p, #descriptionSecurity > p, #descriptionTerms > p {
    font-size: 0.5em;
  }

  #mapSection {
    width: 60vw;
    height: 80%;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-left: 10vw;
    padding: 0;
    overflow: hidden;
  }
}

@media(max-width:400px) {
 
  /* forms */
  form {
    display: grid;
    grid-template-columns: auto 50% 30%;
  }
  /* logo   */
  body > header img {
    width: 5em;
    margin-right: 5%;
  }
  #signup, #login, #listingForm {
    font-size: 1em;
  }
  
  #descriptionAbout > h2, #descriptionPrivacy > h2, #descriptionSecurity > h2, #descriptionTerms > h2 {
    font-size: 0.5em;
  }

  #descriptionAbout > p, #descriptionPrivacy > p, #descriptionSecurity > p, #descriptionTerms > p {
    font-size: 0.4em;
  }

}
